[submodule "app"]
	path = app
	url = https://github.com/veryboringhwl/app
[submodule "hooks"]
	path = hooks
	url = https://github.com/veryboringhwl/hooks
[submodule "modules"]
	path = modules
	url = https://github.com/veryboringhwl/modules
[submodule "pkgs"]
	path = pkgs
	url = https://github.com/veryboringhwl/pkgs
[submodule "classmaps"]
	path = classmaps
	url = https://github.com/veryboringhwl/classmaps
[submodule "creator"]
	path = creator
	url = https://github.com/veryboringhwl/creator
[submodule "devtools"]
	path = devtools
	url = https://github.com/veryboringhwl/devtools
