:root {
  --max-custom-navlink-count: 4;
  --navlink-hover-scale-boost: 0.04;
  --navlink-size: 48px;
}

.navlinks-scrollable_container {
  max-width: calc(
    var(--navlink-size) * var(--max-custom-navlink-count) + 8px *
      (var(--max-custom-navlink-count) - 1)
  );

  > :nth-child(1) {
    overflow-y: hidden;
    padding: calc(var(--navlink-size) * var(--navlink-hover-scale-boost));

    [role="presentation"] {
      display: flex;
      flex-direction: row;
    }
  }

  > :nth-child(2) {
    align-items: center;
  }
}
