:root {
	--max-custom-navlink-count: 4;
	--navlink-hover-scale-boost: 0.04;
	--navlink-size: 48px;
}

.custom-navlinks-scrollable_container {
	max-width: calc(var(--navlink-size) * var(--max-custom-navlink-count) + 8px * (var(--max-custom-navlink-count) - 1));
	-webkit-app-region: no-drag;

	&>* {
		overflow-y: hidden;
		padding: calc(var(--navlink-size) * var(--navlink-hover-scale-boost));
	}

	div[role="presentation"] {
		&>* {
			z-index: 1;

			&:not(:last-child) {
				margin-inline-end: 8px;
			}
		}
	}
}

.custom-navlink {
	-webkit-app-region: unset;
}
